[submodule "themes/hugo-theme-cleanwhite"]
	path = themes/hugo-theme-cleanwhite
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite.git
[submodule "themes/hugo-universal-theme"]
	path = themes/hugo-universal-theme
	url = https://github.com/devcows/hugo-universal-theme.git
[submodule "themes/hugo-initio"]
	path = themes/hugo-initio
	url = https://github.com/miguelsimoni/hugo-initio.git
[submodule "themes/hugo-story"]
	path = themes/hugo-story
	url = https://github.com/caressofsteel/hugo-story.git
[submodule "themes/up-business-theme"]
	path = themes/up-business-theme
	url = https://gitlab.com/writeonlyhugo/up-business-theme.git
