{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- work details part start -->
<section class="work-single section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">

        <!-- work single Content -->
        <div class="work-single-content">
          {{ .Content }}
        </div>
      </div>
      <div class="col-lg-4">
        <!-- sidebar -->
        <div class="work-single-sidebar bg-gray" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
          <h5><span data-aos="text-reveal" data-aos-once="true">{{ .Params.eventdate }}</span></h5>
          <h6>{{ .Params.source }}</h6>
          <h6>{{ .Params.created }}</h6>
          {{ with .Params.wikiLink }}
          <h5>En savoir plus</h5>
          <h6><a class="h6" href="{{ . }}">Fiche wiki</a> <img src="/images/link-external-small-ltr-progressive.svg" width=15px style="vertical-align:top" alt="lien externe"></h6>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- work details part end -->

{{ end }}