{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- work details part start -->
<section class="work-single section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="work-single-image">
          <!-- Work Single Image -->
          <img class="img-fluid w-100" src="{{ .Params.Image | absURL }}" alt="{{ .Title }}">
        </div>
        <!-- work single Content -->
        <div class="work-single-content">
          {{ .Content }}
        </div>
      </div>
      <div class="col-lg-4">
        <!-- sidebar -->
        <div class="work-single-sidebar bg-gray" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
          <h3>{{ .Params.role }}</h3>
          <h3>&nbsp;</h3>
          <h5>À Sanxay</h5>
          {{ range .Params.show }}
          <p>{{ .role }} dans <a class="h6" href="{{.url}}">{{ .title }}</a></p>
          {{ end }}
          <h3>&nbsp;</h3>
          <h5>En savoir plus</h5>
          <h6><a class="h6" href="{{.Params.operabase}}">Opérabase <img src="/images/lien-externe.png" width=15px style="vertical-align:top" alt="lien externe"></a></h6>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- work details part end -->

{{ end }}