{{ define "main" }}

{{ partial "page-title.html" . }}


{{ if .Site.Data.clients.partners_vip.enable }}
{{ with .Site.Data.clients.partners_vip }}
<section class="client section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <div class="section-title">
          <h6 class="sm"><span data-aos="text-reveal" data-aos-once="true">{{ .subtitle | markdownify }}</span></h6>
          <h4><span data-aos="text-reveal" data-aos-once="true">{{ .title | markdownify }}</span></h4>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      {{ range .clients }}
      <div class="col-lg-2 col-md-4 col-6">
        <!-- Client Logo -->
        <div class="client-logo">
          <a href="{{ .link}}"><img src="{{ .logo | absURL}}" class="w-100" alt="client-logo"></a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ if .Site.Data.clients.partners_amis.enable }}
{{ with .Site.Data.clients.partners_amis }}
<section class="client section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <div class="section-title">
          <h6 class="sm"><span data-aos="text-reveal" data-aos-once="true">{{ .subtitle | markdownify }}</span></h6>
          <h4><span data-aos="text-reveal" data-aos-once="true">{{ .title | markdownify }}</span></h4>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      {{ range .clients }}
      <div class="col-lg-2 col-md-4 col-6">
        <!-- Client Logo -->
        <div class="client-logo">
          <a href="{{ .link}}"><img src="{{ .logo | absURL}}" class="w-100" alt="client-logo"></a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}


{{ if .Site.Data.clients.partners_off.enable }}
{{ with .Site.Data.clients.partners_off }}
<section class="client section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <div class="section-title">
          <h6 class="sm"><span data-aos="text-reveal" data-aos-once="true">{{ .subtitle | markdownify }}</span></h6>
          <h4><span data-aos="text-reveal" data-aos-once="true">{{ .title | markdownify }}</span></h4>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      {{ range .clients }}
      <div class="col-lg-2 col-md-4 col-6">
        <!-- Client Logo -->
        <div class="client-logo">
          <a href="{{ .link}}"><img src="{{ .logo | absURL}}" class="w-100" alt="client-logo"></a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ if .Site.Data.clients.partners_media.enable }}
{{ with .Site.Data.clients.partners_media }}
<section class="client section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <div class="section-title">
          <h6 class="sm"><span data-aos="text-reveal" data-aos-once="true">{{ .subtitle | markdownify }}</span></h6>
          <h4><span data-aos="text-reveal" data-aos-once="true">{{ .title | markdownify }}</span></h4>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      {{ range .clients }}
      <div class="col-lg-2 col-md-4 col-6">
        <!-- Client Logo -->
        <div class="client-logo">
          <a href="{{ .link}}"><img src="{{ .logo | absURL}}" class="w-100" alt="client-logo"></a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ end }}